<settings> 
  <category label="TV">
    <setting default="0" id="auto" label="IPTV Autoplay" type="enum" values="Auto|Countdown|Manuell" />
    <setting default="5" id="count" label="Countdown Zeit" type="number" option="int" visible="eq(-1,1))" />
    <setting default="false" id="stream_count" type="bool" label="Anzahl Streams in Title anzeigen"/>
    <setting default="0" id="hlsinputstream" label="HLS Inputstream Addon" type="enum" visible="System.HasAddon(inputstream.ffmpegdirect)" values="ffmpeg|adaptive" />
    <setting default="0" id="openmode" label="ffmpeg Open Mode" type="enum" visible="System.HasAddon(inputstream.ffmpegdirect)" values="default|ffmpeg|curl" />
    <setting default="true" id="filter" type="bool" label="Kanalfilter verwenden"/>
    <setting label="m3u erstellen" type="action" action="RunPlugin(plugin://plugin.video.vavooto/?action=makem3u)"/>
    <setting label="Alle Favoriten entfernen" type="action" action="RunPlugin(plugin://plugin.video.vavooto/?action=delallTvFavorit)"/>
  </category>
  <category label="VAVOO">
    <setting default="true" id="vavoo" type="bool" label="VAVOO TV verwenden"/>
    <setting default="1" id="streammode" label="VAVOO Stream mode" type="enum" visible="eq(-1,true)" values="ts|hls" />
    <!--<setting default="10" id="vav_cache" label="VAVOO TV Cache" type="number" option="int" visible="eq(-2,true))" />-->
    <setting label="VAVOO Kanalgruppen Auswahl" type="action" visible="eq(-2,true)" action="RunPlugin(plugin://plugin.video.vavooto/?action=choose)"/>
  </category>
  <!-- edit by der andere: Stalker-Kategorie entfernt -->
  <category label="VIDEO">
    <setting default="1" id="stream_select" label="Stream Auswahl" type="enum" values="Hoster|Automatisch" />
    <setting default="true" id="auto_try_next_stream" type="bool" visible="eq(-1,0)" label="Automatisch nächsten ähnlichen Stream versuchen"/>
    <setting default="0" id="stream_quali" label="Max Stream Qualität" type="enum" values="1080p|720p|480p" />
    <setting default="true" id="stream_check" type="bool" label="Streams Testen"/>
    <setting label="Suchverlauf löschen" type="action" action="RunPlugin(plugin://plugin.video.vavooto/?action=delete_search&id=all)"/>
  </category>
  <category label="EPG">
    <setting default="0" id="epg_provider" label="EPG Provider" type="enum" values="Magenta|TvSpielfilme" />
    <setting default="13" id="epg_grab_days" label="Days to grab" type="enum" values="1|2|3|4|5|6|7|8|9|10|11|12|13|14" />
  </category>
  <category label="DEBUG">
    <setting default="false" id="debug" type="bool" label="Debug Logging"/>
    <setting default="true" id="comp" type="bool" label="Cache komprimieren"/>
    <setting label="Cache löschen" type="action" action="RunPlugin(plugin://plugin.video.vavooto/?action=clear)"/>
  </category>
</settings>
